main {
  position: relative;
  margin: 0 auto;
  max-width: 49.75rem;
  padding: 3.75rem 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

h3 {
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  margin-left: 20px;
}

h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-1rem, 0);
  display: block;
  height: 100%;
  width: 4px;
  background-color: #000;
}

.message {
  text-align: left;
}

.message p {
  color: #bababa;
  margin-bottom: 1rem;
  margin-left: 20px;
}

button {
  margin: 0 0 2rem;
}

button {
  height: 4px;
}

button div {
  visibility: hidden;
}

.message:hover button {
height: 40px;
}

.message:hover button div {
  visibility: visible;
}

#no_messages {
  display: inline-block;
  /* float: left;
  width: 54.2%; */
  margin-top: 56px;
  margin-bottom: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#no_msg_img {
  max-width: 234px;
  width: 100%;
  height: auto;
}

#no_msg_sub {
  font-size: 14px;
  font-weight: 300;
  color: #222;
  border-top: 8px solid #222;
  /* max-width: 234px; */
  margin: 8.5px auto;
  padding: 0.75rem;
}