.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.625);
}

.modalContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 28rem;
  width: 100%;
  padding: 4rem;
  background-color: #fff;
}

.btnClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}